body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header {
    background-color: #1E3765;
}

nav {
    background-color: #FFFFFF;
    color: #1E3765;
}

main {
    background-color: #FFFFFF;
    font-size: 1em;
}

footer {
    background-color: #EFAF23;
}

li {
    display: inline-block;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

p {
    font-size: 1em;
    color: #000000;
    line-height: 0.8em;
}