body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header {
    background-color: #D9D9D9;
    padding: 1em 1em;
}

header>p {
    background-color: #D9D9D9;
    text-align: center;
    line-height: 1em;
}

header>p>a {
    background-color: #1E3765;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    padding: 0.5em 1em;
    text-decoration: none;
}

header>p>a:hover {
    background-color: #FFF;
    color: #007894;
    border: 1px #007894;
    transition-duration: 1s;
    transition-delay: 1s;
}

header>p>a:active {
    background-color: #1E3765;
    color: #FFF;
    border: 1px #1E3765;
}

#skip {
    position: absolute;
    top: -40px;
    left: 0;
    background: #007894;
    color: #FFF;
    padding: 8px 16px;
    z-index: 100;
    text-decoration: none;
    transition: top 0.2s ease;
}

#skip:focus {
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

nav li {
    display: inline-block;
    padding: 2em;
}

nav a {
    color: #1E3765;
}

nav a:hover {
    color: #337AB7;
}

nav a:active {
    color: #007894;
}

nav img {
    position: relative;
    top: 20px;
    width: 10%;
    border: 1px black;
    padding: 1em;
    border-radius: 5px;
}

main {
    background-color: #FFFFFF;
    font-size: 1em;
}

.btn {
    background-color: #1E3765;
    color: #FFF;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border: 1px #1E3765 solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #007894;
    color: #FFF;
    border: 1px #007894 dotted;
    font-size: 1.5em;
    transition-duration: 0.5s;
    text-decoration: underline;
}

.btn:active {
    background-color: #337AB7;
    color: #FFF;
}

#return {
    padding: 2em 0em;
    text-align: center;
}

footer {
    background-color: #EFAF23;
}

/* li {
    display: inline-block;
    width: 100%;
} */

h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #1E3765;
}

p {
    text-align: center;
    font-size: 1em;
    color: #000000;
    line-height: 1.5em;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
    row-gap: 2rem;
    align-items: baseline;
    background-color: #B5E2FF;
    padding: 2em 0em;
}

.grid img {
    width: 80%;
    border: 1px black;
    padding: 1em;
    border-radius: 5px;
}

.flex {
    display: flex;
    background-color: #B5E2FF;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
    padding: 2em 0em;
}

.flex img {
    border: 1px black solid;
    padding: 1em;
    border-radius: 5px;
}

.grid img:nth-child(even) {
    border: 5px #EFAF23 dotted;
    border-radius: 20px;
}

.flex img:nth-child(odd) {
    border: 5px #AB1368 dotted;
    border-radius: 20px;
}