body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header {
    background-color: #D9D9D9;
    padding: 1em 1em;
}

header > p {
    background-color: #D9D9D9;
    text-align: center;
    line-height: 1em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

nav li {
    display: inline-block;
    padding: 2em;
}

nav img {
    position: relative;  top: 20px; 
    width: 10%;
}

main {
    background-color: #FFFFFF;
    font-size: 1em;
}

footer {
    background-color: #EFAF23;
}

/* li {
    display: inline-block;
    width: 100%;
} */

h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #1E3765;
}

p {
    font-size: 1em;
    color: #000000;
    line-height: 0.8em;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    row-gap: 2rem;
    align-items: baseline;
    background-color: yellow;
}

.grid img {
    width: 100%;
}

.flex {
    display: flex;
    background-color: yellow;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}