body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #1E3765;
    font-size: 2em;
}

h2 {
    color: #007894;
    font-size: 1.5em;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    font-size: 25px;
}

img {
    width: 100%;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

div {
    display: inline-block;
    width: 24%;
    margin: 5px;
    padding: 2px;
}

#color-boxes {
    text-align: center;
}

footer {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 1em 2em;
    background-color: #1E3765;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #007894;
}

@media all and (min-width: 772px) {
    div {
        width: 45vw;
        display: inline-block;
    }

    img {
        max-height: 30vh;
    }
}

@media all and (min-width: 998px) {
    div {
        width: 30vw;
    }
}






















/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */